body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fafafa;
}

nav {
    width: 99%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.form-select {
    width: auto;
}

.logo>img {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
}

.menulist>ul,
li {
    display: inline-block;
    cursor: pointer;
    padding: 0px 1.6rem 0px 1rem;
    -webkit-box-align: center;
}

a {
    text-decoration: none;
    color: #1a1a1a;
    font-family: inherit;
}

.searchForm>h2 {
    font-family: "Montserrat", "Segoe UI", sans-serif;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: row;
    background-color: rgb(245, 240, 240);
    padding: 50px;
}

footer {
    border: 1px solid black;
}

.searchForm>input[type="text"],
input[type="search"] {
    margin-left: 20px;
    width: auto;
    padding: 5px;
    border-radius: 8px;
}

#btn-trouver {
    margin-left: 10px;
    border-radius: 8px;
}

.searchForm>input[type="text"],
input[type="search"]:focus {
    outline: none;
}

header>.searchForm {
    width: 50%;
    padding: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px rgb(26 26 26 / 8%);
    box-shadow: 5px 5px 15px 5px rgb(26 26 26 / 12%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    color: #fff;
}

.cards-container {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Montserrat", "Segoe UI", sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    border: 1px solid black;
    width: auto;
    min-width: 80%;
    max-width: 80%;
    height: 292px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(211, 211, 212, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(211, 211, 212, 1);
    box-shadow: 8px 8px 24px 0px rgba(211, 211, 212, 1);
}

#btn-deposer-article {
    -webkit-align-self: center;
    align-self: center;
    background-color: #ff6e14;
    border-radius: 4px;
    color: #fff;
    margin-right: 1rem;
    padding: 10px;
    width: auto;
    height: auto;
}

.card-img>img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.card-titre {
    border: 1px dotted black;
    width: 100%;
    height: 100%;
    float: right;
    text-align: center;
}

.card-footer {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: auto;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", "Segoe UI", sans-serif;
    transition: all 2s ease-in-out;
}

.card-footer:hover {
    transition: all 2s ease-in-out;
    background-color: #f6b21b;
}


/* my profile css */

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}


/* product page detail */

.productPage {
    border: 2px solid black;
    width: 70rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.productImg {
    width: 370px;
    max-width: 370px;
    height: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.productImg>img {
    width: 380px;
    max-width: 380px;
    height: 100%;
    max-height: 100%;
}

.productTitre {
    border: 2px solid black;
    width: 66.5%;
    height: 50px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productbody {
    border: 2px solid black;
    width: 66.5%;
    float: right;
    height: 91%;
    text-align: center;
    overflow: scroll;
    padding: 20px;
}

.productbody>p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productFooter {
    border: 2px solid black;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}