body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fafafa;
}

nav {
    border: 1px solid black;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo>img {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
}

.menulist>ul,
li {
    display: inline-block;
    cursor: pointer;
    padding: 0px 1.6rem 0px 1rem;
    -webkit-box-align: center;
}

a {
    text-decoration: none;
    color: #1a1a1a;
    font-family: inherit;
}

.searchForm>h2 {
    font-family: "Montserrat", "Segoe UI", sans-serif;
}

header {
    border: 1px solid black;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: row;
    background-color: #1a1a1a;
}

.searchForm>input[type="text"],
input[type="search"] {
    margin-left: 20px;
    width: auto;
    padding: 5px;
    border-radius: 8px;
}

#btn-trouver {
    margin-left: 10px;
    border-radius: 8px;
}

.searchForm>input[type="text"],
input[type="search"]:focus {
    outline: none;
}

header>.searchForm {
    width: 50%;
    padding: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px rgb(26 26 26 / 8%);
    box-shadow: 5px 5px 15px 5px rgb(26 26 26 / 12%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    color: #fff;
}

.cards-container {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Montserrat", "Segoe UI", sans-serif;
}

.card {
    border: 1px solid black;
    width: 750px;
    height: 292px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

#btn-deposer-article {
    -webkit-align-self: center;
    align-self: center;
    background-color: #ff6e14;
    border-radius: 4px;
    color: #fff;
    margin-right: 1rem;
    padding: 5px;
}

.card-img {
    border: 1px solid black;
    max-width: 30%;
    min-width: 30%;
    width: 30%;
    height: 100%;
}

.card-titre {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    float: right;
    text-align: center;
}

.card-footer {
    border: 1px solid blue;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: auto;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", "Segoe UI", sans-serif;
}